.react-calendar {
    width: 100%;
    /* max-width: 100%; */
    background-color: #fff;
    color: #333;
    border-radius: 1.6rem;
    padding: .4rem .4rem;
    border: none;
    box-shadow: 1.2rem 1.2rem 2.4rem rgba(0, 0, 0, 0.015);
    font-family: inherit;
    line-height: 1.125em;
}

.react-calendar__month-view__days__day--weekend {
    color: inherit;
}

.react-calendar__month-view__days {
    row-gap: .2rem;
}

.react-calendar__navigation {
    height: auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: .8rem 1.2rem .8rem;
    justify-content: space-around;
    align-items: center;
}

/* .react-calendar__navigation button {
    min-width: 0;
} */

.react-calendar__navigation__label {
    flex-grow: 0 !important;
    /* color: #1c7ed6; */
    color: #333;
    /* min-width: 0; */
    /* background: none; */
    font-size: 16px !important;
    flex-grow: 0;
    /* margin-top: 8px; */
}


/* Arrow Buttons */


.react-calendar__navigation__arrow svg {
    height: 2rem !important;
    width: 2rem !important;
    margin: 0;
    padding: 0rem;
}

/* .react-calendar__navigation__arrow:hover {
    color: #fff;
    background-color: #1c7ed6 !important;
} */

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
    display: none !important;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
}

.react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
}

.react-calendar__month-view__weekdays {
    background-color: rgba(28, 127, 214, 0.25);
    margin-bottom: .8rem;
    padding: .8rem .4rem;
    border-radius: 5px;
}

.react-calendar__month-view__weekdays__weekday {
    padding: 0;
}

.react-calendar__month-view__weekdays__weekday abbr {
    color: #777;
}


/* -------------------------------------------------------- */

.react-calendar__navigation button {
    min-width: 0 !important;
}

.react-calendar__navigation__arrow {
    border-radius: 50%;
    text-decoration: none;
    background-color: rgba(28, 127, 214, 0.75) !important;
    width: 34px !important;
    height: 34px !important;
    color: white;
    transition: all .3s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

.react-calendar__navigation__arrow:hover {
    background-color: #1c7ed6 !important;
    box-shadow: 0 0 1.2rem rgba(28, 127, 214, 0.75);
}

.react-calendar__navigation__label {
    font-weight: 700 !important;
    font-size: 18px;
}

.react-calendar__navigation__label:hover,
.react-calendar__navigation__label:focus {
    background-color: unset !important;
    border-radius: 50%;
}

.react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px !important;
    color: #1b2559;
}

/* --------------------------------------------------------------- */

.react-calendar__month-view__weekdays {
    justify-content: space-around;
}

.react-calendar__month-view__weekdays__weekday {
    padding: 0 .4rem;
    display: inline-block !important;
    flex: none !important;
}


abbr[title] {
    font-size: 1.2rem;
    border: none;
    padding: 0;
    justify-content: center;
    text-decoration: none !important;
}

abbr {
    font-size: 1.2rem;
    font-weight: 500;
}

.react-calendar__year-view__months__month abbr {
    padding: .8rem;
}

.react-calendar__year-view__months__month {
    background-color: transparent !important;
}


.react-calendar__month-view__days__day abbr {
    padding: 1.6rem;
}

.react-calendar__tile {
    height: 100%;
}

.react-calendar__tile:hover abbr {
    color: #999 !important;
    background-color: #1c7ed632 !important;
}

.react-calendar__month-view__days__day {
    color: #999;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: #ddd;
}

/* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */
.react-calendar__tile:enabled:hover abbr,
.react-calendar__tile:enabled:focus abbr {
    background: #f8f8fa;
    color: #1c7ed6;
    border-radius: 50%;
}

.react-calendar__tile--now abbr {
    background: #1c7ed633;
    border-radius: 50%;
    font-weight: bold;
    color: #1c7ed6;
}

.react-calendar__tile--now:enabled:hover abbr,
.react-calendar__tile--now:enabled:focus abbr {
    background: #1c7ed633;
    border-radius: 50%;
    font-weight: bold;
    color: #1c7ed6;
}

.react-calendar__tile--hasActive:enabled:hover abbr,
.react-calendar__tile--hasActive:enabled:focus abbr {
    background: #f8f8fa;
}

.react-calendar__tile--active abbr {
    background: #1c7ed6;
    border-radius: 50%;
    font-weight: bold;
    color: white;
}

.react-calendar__tile--active:enabled:hover abbr,
.react-calendar__tile--active:enabled:focus abbr {
    background: #1c7ed6;
    color: white;
}

.react-calendar--selectRange abbr .react-calendar__tile--hover abbr {
    background-color: #f8f8fa;
}

.react-calendar__tile--range abbr {
    background: #f8f8fa;
    color: #1c7ed6;
    border-radius: 0;
}

.react-calendar__tile--rangeStart abbr {
    /* border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; */
    border-radius: 50%;
    background: #1c7ed6;
    color: white;
}

.react-calendar__tile--rangeEnd abbr {
    /* border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px; */
    border-radius: 50%;
    background: #1c7ed6;
    color: white;
}

/* --------------------------------------------------------------- */

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background: transparent;
    color: transparent;
    border-radius: 50%;
}

.react-calendar__tile--now {
    background: transparent;
    border-radius: 50%;
    font-weight: bold;
    color: transparent;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: transparent;
    border-radius: 50%;
    font-weight: bold;
    color: transparent;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: transparent;
}

.react-calendar__tile--active {
    background: transparent;
    border-radius: 50%;
    font-weight: bold;
    color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: transparent;
    color: white;
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: transparent;
}

.react-calendar__tile--range {
    background: transparent;
    color: transparent;
    border-radius: 0;
}

.react-calendar__tile--rangeStart {
    /* border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; */
    border-radius: 50%;
    background: transparent;
    color: white;
}

.react-calendar__tile--rangeEnd {
    /* border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px; */
    border-radius: 50%;
    background: transparent;
    color: white;
}

.react-calendar__month-view__days__day abbr {
    text-decoration: none;
    font-size: 11px !important;
    width: 1.6rem !important;
    height: 1.6rem !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-calendar__tile:disabled {
    background-color: inherit;
    color: #ccc;
}

.react-calendar__decade-view__years__year:hover {
    color: rgba(28, 127, 214, 0.75) !important;
}

.react-calendar__tile--hasActive {
    color: #1c7ed6 !important;
    font-weight: 600;
}

.react-calendar__year-view__months__month abbr:hover {
    border-radius: 50%;
}

.react-calendar *:focus {
    border: none !important;
    box-shadow: none !important;
}
